# تنظیم زبان غالب به Dart
*.dart linguist-language=Dart

# نادیده‌گرفتن فایل‌های C++ برای تحلیل زبان
*.cpp linguist-vendored
*.h linguist-vendored
*.c linguist-vendored

# نادیده‌گرفتن فایل‌های CMake برای تحلیل زبان
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# نادیده‌گرفتن پوشه‌هایی مانند "vendor" یا "third_party"
/vendor/** linguist-vendored
/third_party/** linguist-vendored
/build/** linguist-vendored
